
#formContent{
    display: flex ;
    flex-wrap: wrap ;
}

#saveButton{
    margin: 10px 0 ;
}


#cardContent{
    padding: 20px 20px ;
    margin: 2px ;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px;
}
#container{
    margin-bottom: 20px ;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */

    color: white;
  
  }
  
  ::-moz-placeholder { /* Firefox 19+ */
  
    color: white;
  
  }
  
  :-ms-input-placeholder { /* IE 10+ */
  
    color: white;
  
  }
  
  :-moz-placeholder { /* Firefox 18- */
  
    color: white;
  
  }